.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
}

.main h1 {
    margin-bottom: 30px;
    margin-left: 20px;
    color: black;
}

/* Conteneur des boards */
.board-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding: 20px;
    gap: 30px;
}

/* Carte */
.card-preview {
    position: relative;
    background-color: #9c9c9c;
    border-radius: 16px;
    height: 100px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card-preview:hover {
    cursor: pointer;
}

/* Zone basse */
.card-preview .bottom h4 {
    margin-top: auto;
    font-size: 1.1rem;
}

.card-preview .bottom p {
    margin: 6px 0 0 0;
    font-size: 0.85rem;
}


/* Ajouter un board Card */
.addCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: none;
    color: #9c9c9ced;
    border: dashed 5px #9c9c9ced;
    padding: 11px;
    font-size: 1.5rem;
}

.addCard p {
    margin: 0;
}

.addCard:hover {
    box-shadow: none;
}