.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Background  */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../assets/pictures/hero.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
    z-index: 0;
}

/* Texte au-dessus */
.hero-content {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 25vh auto 0;
    padding: 50px 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.hero-content img {
    width: 50%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

/* Right Side (Texte) */
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.right h2 {
    font-size: 2.5rem;
    margin: 0;
}

.right p {
    font-size: 1.2rem;
    margin: 0;
}

/* Button Discover */
.discover-btn{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    background: var(--blue-bg-color);
    font-weight: 600;
    color: var(--default-text-color);
    text-decoration: none;
    padding: 10px 6px;
    border-radius: 12px;
    border: none;
}

.discover-btn img{
    filter: invert();
    width: 25px;
    height: 25px;
}



/* Content */
.homeContent{
    color: var(--default-dark-text-color);
}

.homeContentHeader{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.homeContentHeader h2{
    font-size: 3em;
    margin-bottom: 0;
}

.homeContentHeader h3 {
    font-size: 2em;
}

.homeContentHeader img {
    margin: 0 auto;
    max-width: 100%;
}

.homePresentationArticle{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 50px;
}

.homePresentationArticle article {
    width: 550px;
    background-color: rgba(237, 237, 237, 0.658);
    padding: 10px 20px;
    border-radius: 12px;
}

.iconLink{
    height: 15px;
    width: 15px;
    margin-left: 2px;
}

.vertical-line{
    border-left: 2px solid black;
    display: inline-block;
    height: 175px;
    margin: 20px;
}



/* Fonctionnalité */
.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 50px;
}

.homeFunctionnalityGrid {
    font-size: 16px;
    width: 300px;
    height: 250px;
    border-radius: 20px;
}

.functionnalityGridContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

.gridBottom {
    grid-column: 1/-1;
    display: flex;
    gap: 50px;
}

.gridBottom .homeFunctionnalityGrid {
    width: 475px;
}

.homeFunctionnalityGrid:nth-child(1){
    background-color: #93C5FD;
}

.homeFunctionnalityGrid:nth-child(2){
    background-color: #7DD3FC;
}

.homeFunctionnalityGrid:nth-child(3){
    background-color: #60A5FA;
}



/* Démonstration */
.homeDemonstration{
    margin-top: 100px;
    color: rgb(36, 36, 36);
    text-align: center;
}

.homeDemonstration h3{
    font-size: 40px;
    font-weight: 500;
}

.demo-btn{
    border: none;
    border-radius: 12px;
    background: var(--blue-bg-color);
    padding: 15px 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.demo-btn-content{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.demo-btn span{
    color: rgba(255, 255, 255, 0.8);
}

.demo-btn img{
    filter: invert();
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

/* Mobile */
@media (max-width: 865px){

    .hero-content img{
        display: none;
    }

    .homePresentationArticle{
        flex-direction: column;
    }

    .vertical-line{
        border: none;
        display: none;
        height: none;
        margin: none;
    }

    .homePresentationArticle article{
        width: auto;
        height: auto;
    }

    .homePresentationArticle article:nth-child(1){
        margin-bottom: 20px;
    }

    .homeContentHeader img{
        margin-left: 10px;
        margin-right: 10px;
    }

    .homeFunctionnalityGrid{
        width: 275px;
        height: 250px;
    }

    .gridBottom .homeFunctionnalityGrid {
        width: 275px;
        height: 250px;
    }
}   

@media (max-width: 1024px){

    .grid{
        grid-template-columns: 1fr;
        margin: 20px;
        margin-right: 20px;
    }

    .gridBottom{
        display: grid;
        height: auto;
        width: auto;
    }

    .gridBottom .homeFunctionnalityGrid {
        width: auto;
    }

    .homeFunctionnalityGrid{
        height: auto;
        width: auto;
    }
}