.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Background  */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../assets/pictures/hero.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
    z-index: 0;
}

/* Texte au-dessus */
.hero-content {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
    margin-top: 25vh;

}

.hero-content img {
    width: 50%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.right h2 {
    font-size: 2.5rem;
    margin: 0;
}

.right p {
    font-size: 1.2rem;
    margin: 0;
}

/* Mobile */
@media (max-width: 865px){

    .hero-content img{
        display: none;
    }
}