/* Hamburger Bouton */
#hamburger-button{
    display: block;

    z-index: 99;
    width: 50px;
    height: auto;

    margin-right: 40px;
    
    filter: invert();
    pointer-events: all;
}

.hamburger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    background-color: var(--hamburger-overlay-bg);
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 50;
}