/* Hamburger Bouton */
#hamburger-button{
    display: block;

    z-index: 99;
    width: 50px;
    height: auto;

    margin-right: 40px;
    
    filter: invert();
    pointer-events: all;
}

.hamburger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    background-color: var(--hamburger-overlay-bg);
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 50;
}

.hamburger-backgroundContent{
    background-color: var(--default-text-color);
    right: 0;
    position: absolute;
    width: 320px;
    height: 200vh;
    top: 5%;
    pointer-events: auto;
}

.hamburger-content{
    color: black;
}

.hamburger-avatar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue; /* Voir si on met un fon en couleur ou pas de fond*/
}

.hamburger-content img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.hamburger-content h2{
    font-size: 100px;
}

.hamburger-contentText{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.horizontal-line{
    border-bottom: 2px solid black;
    display: inline-block;
    align-content: center;
    width: 280px;
    margin: 5px 18px;
}

.hamburger-disconnect{
    right: 0;
    position: absolute;
    margin-right: 15px;
    color: red;
}

.hamburger-contentText a{
    text-decoration: none;
    color: black;
    margin: 10px 0;
}