@import url(animation.css);
@import url(variables.css);
@import url(components/loader.css);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: var(--default-text-color);
    background: var(--default-background-color);
}

/* *{
    outline: solid red 2px;
} */

/* SHARED STYLES */
.hover-btn {
    transition: transform 0.2s ease-in-out;
    pointer-events: all;
    cursor: pointer;
}

.hover-btn:hover {
    transform: scale(1.05);
}

.hover-btn:active {
    transform: scale(0.95);
}

.link a {
    text-decoration: none;
    color: var(--default-text-color);
}

.link a:hover {
    text-decoration: underline;
    font-weight: 600;
}

/* Layout Structure */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}