html{
    scroll-behavior: smooth;  
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    height: 100vh; /* A Remplacer par 100% quand il y à du contenu */

    /* Default Configuration */
    font-family: "Poppins", sans-serif;
    
    color: var(--default-text-color);
    background: var(--default-background-color);
}